@model Classio.Areas.Admin.Models.EditTeacherViewModel

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="modal-header">
        <h5 class="modal-title">Edit Teacher</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="SubjectId"></label>
            <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
        </div>

        <div class="mb-3">
            <label asp-for="SchoolId"></label>
            <select asp-for="SchoolId" class="form-control" asp-items="ViewBag.SchoolId"></select>
        </div>
        <div class="mb-3">
            <label asp-for="HeadOfClassIds" class="form-label">Head Teacher For</label>
            <select asp-for="HeadOfClassIds" class="form-select" asp-items="ViewBag.HeadOfClassesList" multiple></select>
            <span class="text-muted small">Hold Ctrl to select multiple</span>
        </div>

        <div class="mb-3">
            <label asp-for="SubjectClassIds" class="form-label">Teaches Subject In</label>
            <select asp-for="SubjectClassIds" class="form-select" asp-items="ViewBag.SubjectClassesList" multiple></select>
            <span class="text-muted small">Hold Ctrl to select multiple</span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </div>
</form>